/* Styling override for web console */
body {
	color: #ebebeb;
	background-color: #161616;
	background-image: url(../images/main_bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;
	transition: 0.35s opacity;
}
body.fadeout {
	opacity: 0;
	transition: none;
}

/* Connect form
------------------------- */
.main-form {
	background-color: #161616;
	background-image: url(../../../images/noise_bg.jpg);
	background-repeat: repeat;
	padding: 2rem;
	margin-bottom: 3rem;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important;
}
.main-form-small {
	background: transparent;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	padding-top: 1.75rem;
	padding-bottom: 1.5rem;
	margin-bottom: 2.5rem;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important;
}

/* Console UI
------------------------- */
.console-body {
	height: 830px;
	background-color: #1f2c3ba0;
	font-family: 'Lucida Console';
	font-size: 75%;
	padding: 1rem;
	margin-bottom: 5px;
	box-shadow: 0 0 2rem rgb(0, 0, 0, 0.4) !important;
	overflow-y: auto;
}

.console-input {
	font-family: 'Lucida Console';
	font-size: 85%;
}