/* Main styling for website */

body {
	padding-bottom: 3rem; /* footer */
	color: #dadada; /* text color */
	background-color: #171717;
}

/* BANNER
------------------------- */
.banner-name {
	color: #ffffff; /* text color */
}

.banner-parallax {
	padding: 2.5rem;
	margin-bottom: 3rem;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important
}

/* MAIN
------------------------- */
.main-header {
	color: #cdedff;
	font-weight: -20;     /* Bolder */
	line-height: 1.25;
	letter-spacing: -.07rem;
}

.main-card {
	transition: all .05s ease-in-out;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	margin-bottom: 0.75rem;
	background-color: #333333;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important
}

.main-card:hover {
	transform: scale(1.01);
}

.main-card-contents {
	padding: 1.5rem;
	text-align: center;
	color: #ffffff;
}

.main-button {
	border: 1px solid #75a5ffb0;
}

/* LINK STYLING
------------------------- */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	text-shadow: 0px 0px 2rem #def0ff77;
}

/* SHOWCASE
------------------------- */
.showcase-divider {
	border-color: #666666;
	border-style: inset;
	border-width: 1px;
	margin: 2rem 0;
}

.showcase-body {
	line-height: 1.5;
}

/* PROJECT PAGES
------------------------- */
.project-body {
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-left: auto;
	margin-right: auto;
}