/* Main styling for website */

body {
	padding-bottom: 3rem; /* footer */
	color: #ebebeb; /* text color */
	background-color: #171717;
	
	/* fade in*/
    opacity: 1;
    transition: 0.5s opacity;
}

body.fadeout {
	/* fade out*/
    opacity: 0;
    transition: none;
}

/* BANNER
------------------------- */
.banner-name {
	color: #ffffff; /* text color */
}

.banner-parallax {
	background: transparent;
	padding: 2.5rem;
	margin-bottom: 3rem;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important
}

.banner-parallax-small {
	background: transparent;
	padding-left: 2.25rem;
	padding-right: 2.25rem;
	padding-top: 1.75rem;
	padding-bottom: 1.5rem;
	margin-bottom: 2.5rem;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important
}

/* MAIN
------------------------- */
.main-fade {
	opacity: 0.05;
}

.main-header {
	color: #cdedff;
	font-weight: -20;     /* Bolder */
	line-height: 1.25;
	letter-spacing: -.07rem;
}

.main-card {
	transition: all .05s ease-in-out;
	background-color: #333333;
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	margin-bottom: 0.75rem;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3) !important
}

.main-card:hover {
	transform: scale(1.01);
}

.main-card-contents {
	padding: 1.25rem;
	text-align: center;
	color: #ffffff;
}

.btn {
	border: 2px solid #5b616db0;
}

.btn:hover {
	border: 2px solid #525bafb0;
}

/* LINK STYLING
------------------------- */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	text-shadow: 0px 0px 2rem #def0ff77;
}

/* SHOWCASE
------------------------- */
.showcase-divider {
	border-color: #666666;
	border-style: inset;
	border-width: 1px;
	margin: 2rem 0;
}

.showcase-body {
	line-height: 1.5;
}

/* PROJECT PAGES
------------------------- */
.project-container {
	width: 100%;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
}

.file-input-area {
	background-color: #222222;
	border: solid 2px;
	border-color: #505050;
	width: 100%;
	padding: 10%;
	margin: 0px;
	text-align: center;
	box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4) !important
}

.file-list-item {
	background-color: #625e77;
	border: solid 1px;
	border-color: #898797;
	color: #ebebeb;
	width: 100%;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-radius: 2px;
}

.file-list-item:nth-of-type(odd) {
	background-color: #625e77;
	border-color: #898797;
}

.file-select {
	display: none;
}

.file-drag-drop {
	background-color: #6d6d6db2;
	width: 100%;
	padding: 5%;
	margin: 0px;
}